.wsu-explore-panel-start {
	background-color: #000;

	.wsu-explore-panel {

		&__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			flex-grow: 1;

			.wsu-icon {
				color: #fff;
				font-size: 100px;
				display: inline-block;
				line-height: 1.4;
				cursor: pointer;
			}

		}

		&__background {

			&__video,
			&__image {
				filter: blur(4px);
				-webkit-filter: blur(4px);
				opacity: 0.4;
			}

			&::after {
				position: absolute;
				content: '';
				display: block;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 100%);
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0) 100%);
				background: radial-gradient(ellipse at center,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 );
			}
		}
	}

	&::after {
		
	}

	&__title {
		color: #fff !important;
		margin: 0 !important;
		font-size: 4rem;
		text-transform: uppercase;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);

		&::before {
			display: none !important;
		}
	}

	&__caption {
		color: #eee;
		font-size: 1.4rem;
		max-width: 500px;
		margin: 0.5rem auto 0;
		line-height: 1.3;
		text-align: center;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}

}