.wsu-explore-block--temp {
	display: block;
	padding: 1rem 2rem;
	color: #ccc;
	background-color: #333;
	border-radius: 4px;
}

.wsu-explore-block-slide {
	width: 50%;
	background-size: cover;
	background-position: center;
	margin: 12px auto;
	background-color: #555;
}


.wsu-explore-block-slide::after {
	content:"";
	display: block;
	padding-bottom: 75%;
}