.wsu-explore-footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;

	&__background-caption {
		background-color: #000;
		font-size: 0.7rem;
		padding: 0.5em 1.5em;
		z-index: 10;
		color: #777;
		font-style: italic;
	}
}

.wsu-explore-footer__options {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem 2rem;
	color: #eee;
	flex-grow: 0;
	width: 27%;
	box-sizing: border-box;
}

@media screen and (max-width:1400px ) {
	.wsu-explore-footer__options {
		width: 32%;
	}
}