.wsu-explore-panel-content {


	.wsu-explore-panel__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		padding-left: 40px;
		padding-right: 40px;
	}

	.wsu-explore-panel__background::after {
		content:"";
		display: block;
		position: absolute;
		background-color: rgba(0,0,0,0.9);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}