.wsu-explore-panel-image {
	&__wrapper {

	}
}

.wsu-explore-panel--image {

	.wsu-explore-panel__background {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: auto;
		width: auto;
		background-position: cover;
	}
}