@import '~@wsu/build-tools/scss/all-the-things.scss';

.wsu-explore-panel-group {
	
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100vh;
		max-width: 100%;
		overflow: hidden;
		background-color: #000;

		
	}

	&__map {
		width: 80px;
		height: 80px;
		transition: width 200ms, height 200ms; 
		cursor: pointer;

		&__wrapper {
			position: absolute;
			background-color: #000;
			z-index: 10;
			top: 20px;
			left: 20px;
			border: 2px solid color(gray,20);
			border-radius: 3px;

			&.active {

				.wsu-explore-panel-group__map {
					width: 500px;
					height: 500px;
				}

			}
		}

		img {
			object-fit: cover;
			display: block;
			width: 100%;
			height: 100%;
			object-position: 50% 50%;
		}

		&__pin {
			position: absolute;
			font-size: 0;
			width: 10px;
			height: 10px;
			cursor: pointer;
			border-radius: 50%;
			top: 0;
			left: 0;
			border: none;
			outline: none;
			background: none;

			& span {
				padding: 3px;
				font-size: 1rem;
				color: color(primary,base);
				background-color: #fff;
				border-radius: 4px;
			}
		}
	}
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
	left: 30vw;
	right: 30vw;
    bottom: 2rem;
    z-index: 50;
    height: 5px;
	width: auto;
	overflow: hidden;
}

@media screen and (max-width:1400px ) {
	.swiper-container-horizontal > .swiper-scrollbar {
		position: absolute;
		left: 35vw;
		right: 35vw;
	}
}


.swiper-pagination-bullet,
.swiper-scrollbar {
    background: #fff;
}
.swiper-pagination-bullet-active,
.swiper-scrollbar-drag {
    background: color( primary, light )
}

.swiper-button-prev,
.swiper-button-next {
	padding: 0 1rem;
	background-color: #fff;
	color: color(primary,base);
	height: 70px;
	margin-top: -35px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 0.65rem;
	top: 20%;
	width: 150px;

	&.swiper-button-disabled {
		display: none;
	}
}



.swiper-button-prev {
	left: 0;
}

.swiper-button-next {
	right: 0;
}

.swiper-button-label-next,
.swiper-button-label-prev {
	display: block;
	font-weight: 600;
}

.swiper-button-next:after, 
.swiper-button-prev:before {
	font-family: 'wsu-icons';
	font-size: 1rem;
	display: inline-block;
	margin: 0 0.5em;
	flex-grow: 0;
}

.swiper-button-prev {
	justify-content: flex-start;

	&:before {
		content:"\F106";
	}
	&:after {
		display: none;
	}
}

.swiper-button-next {
	justify-content: flex-end;

	&:before {
		display: none;
	}
	&:after {
		content:"\F108";
	}
}

.swiper-pagination-bullet {
	left: 30vw;
	right: 30vw;
}